@import './section-one';
@import './section-two';
@import './section-three';
@import './section-six';
$body-color: slateblue;

body {
  color: $body-color;
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
}
