.wrapper-six{
    max-width: 640px;
    margin:0 auto;
    text-align: center;
    h4{
        max-width: 435px;
        margin:0 auto 35px;
        font-weight: 600;
        font-size: 36px;
        color: #242f51;
        line-height: 1.3;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        color:#7e8084;
        margin:0 0 94px 0;
    }
}
.container-six{
    display:flex;
    max-width: 960px;
    margin:0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-mix{
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 75px;
    p{
        font-weight: 600;
        color: #242f51;
        font-size: 20px;
        margin:33px 0 17px 0 ;
    }
    span{
        font-weight: 400;
        color:#7e8084;
        font-size: 16px;
    }
}
// -----------section-seven
.section-seven{
    display:flex;
    justify-content: space-between;
    max-width: 1400px;
    margin:100px auto 0;
    flex-wrap: wrap;
}
.wrapper-seven{
    max-width: 395px;

    p{
        font-weight: 600;
        color: #242f51;
        font-size: 36px;
        margin:0;
    }
    span{
        font-weight: 400;
        color:#7e8084;
        font-size: 16px;
    }
}
.block-seven{
    display:flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap-four{
    flex-basis: 43%;
    padding-top:62px;
    p{
        font-weight: 600;
        font-size: 20px;
        color: #242f51;
    }
    span{
        font-weight: 400;
        color:#7e8084;
        font-size: 16px;
    }
}
.for--position{
    flex-basis: 50%;
}
.phon-planning{
    display:block;
    max-width: 100%;
    height: auto;
}
.left--seven{
    padding: 0 0 0 5px;
    flex-basis: 40%;
    button{
        margin-top:60px;
    }
}
@media (max-width:1231px){
    // -------container-seven
    .left--seven{
        flex-basis: 100%;
        text-align: center;
    }
    .wrapper-seven{
        margin:0 auto;
    }
    .block-seven{
        margin:0 auto;
    }
    .phon-planning{
        display:none;
    }
}
@media (max-width:770px){

    .wrapper-six{
        max-width: 435px;
        h4{
            margin:0 auto 20px;
            font-size: 26px;
        }
        p{
            font-size: 14px;
            margin:0 auto 60px;
        }
    }
    .container-six{
        max-width: 960px;
        margin:0 auto;
        justify-content: space-evenly;
    }
    .block-mix{
        flex-basis: 40%;
        margin-bottom: 60px;
        p{
            font-size: 16px;
            margin:18px 0 10px 0 ;
        }
        span{
            font-size: 14px;
        }
    }
    // -------------section-seven
    .block-seven{
        max-width: 435px;
    }
    .wrap-four{
        flex-basis: 44%;
        padding-top:62px;
        p{
            font-size: 16px;
        }
        span{
            font-size: 14px;
        }
    }
    .for--position{
        display: none;
    }
    .left--seven{
        margin:0 auto;
        button{
            margin-top:60px;
        }
    }
    .wrapper-seven{
        max-width: 435px;
    
        p{
            font-size: 26px;
        }
        span{
            font-size: 16px;
        }
    }
}