.section-two{
    position: relative;
    margin-bottom: 130px;
}
.one-wrapper{
    max-width: 940px;
    margin:115px auto 40px;
    text-align: center;
    p{
        font-size: 16px;
        font-weight: 400;
        color: #242f51;
    }
    

}
.all-images{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width: 940px;
    margin:0 auto 120px;
    align-items: center;
}
.alonzo{
    flex-basis:3%;
    text-align: center;
}
// -------------two-flex----
.smart-search{
    display:block;
    max-width: 100%;
    height: auto;
}
.two-wrapper{
    display:flex;
    max-width: 1300px;
    margin:0 auto;
}
.activ--block{
    margin-left:40px;
    max-width: 437px;
}
.wrap{
    display:flex;
    margin-bottom: 60px;
}
.title-two{
    h2{
        font-size: 36px;
        font-weight: 600;
        color:#242f51;
        line-height: 1.4;
        margin:0;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color:#7e8084;
        max-width: 400px;
    }

}
.vector-wrap{
    padding-top: 45px;
}
.wrap-two{
    margin-left: 30px;
    max-width: 262px;
    p{
        font-weight: 600;
        font-size: 20px;
        color: #f55767;
    }
    span{
        font-size: 16px;
        font-weight: 400;
        color:#7e8084;
    }
    .blue-color{
        color: #2563ff;
    }
    .green-color{
        color:#40975f;
    }
}
@media (max-width:1231px){
// -------------two-flex----
    .wrap{
        padding:0 15px 0 0;
    }

}
@media (max-width:990px){
.all-images{
    padding: 0 15px 0 15px;
}
.alonzo{
    flex-basis:30%;
}
}