.section-one{
    height: 100vh;
    width: 100%;
    background-color: #fff;

}
.container-one{
    max-width: 1170px;
    margin:0 auto;
}
.picture-one{
    background-image: url(../img/city.1600.245.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 94px 0 30px 0;
    p{
        color:#fcae61;
        font-size: 30px;
        font-weight: 700;
        margin:0;
        span{
            color:#242f51;
        }
    }

}
.navigation{
    display:flex;
    align-items: center;
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color:#242f51;
        padding-left: 38px;
        font-size: 16px;
        font-weight: 400;
    }
    a:hover{
        color:#fcae61;
    }
    button{
        margin: 0 0 0 58px;
        background: #2500f9;
        color:#fff;
        border:none;
        padding: 20px 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
    }
    button:hover{
        background: #242f51;
        color:#fcae61;
    }
}

.main-header{
    display:flex;
    flex-wrap: wrap;
}
.min-part{
    background: #e2eaed;
    color: #242f51;
    max-width: 360px;
    font-size: 18px;
    text-align: center;
    border-radius: 24px;
    position: relative;
    padding: 4px 0;
}
.min-part:before{
    content: '';
    top:-1px;
    display:block;
    padding:0;
    width: 40px;
    height: 35px;
    border-radius: 18px;
    background: #feaa25;
    position: absolute;

}
h1{
    font-size: 60px;
    font-weight: 600;
    color: #242f51;
    line-height: 1.2;
    margin:8px 0 0 0;
}
.header-flex{
    flex-basis: 50%;
    p{
        font-size: 18px;
        color:#616368;
        max-width: 500px;
    }
}
.header--activ{
    margin: 200px 0 0 0;
}
.header--activtwo{
    position: relative;
    img{
        position: absolute;
        left:13%;
    }
}
button{
    background: #2500f9;
    color:#fff;
    border:none;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
}
button:hover{
    background: #242f51;
    color:#fcae61;
}
.button-block{
    a{
        text-decoration: none;
        color:#2500f9;
        padding-left: 28px;
        font-size: 16px;
        font-weight: 400;
    }
    a:hover{
        color:#fcae61;
    }
}