.container-eleven{
    .container-question__p{
        margin-top: 55px;
        margin-left:50px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-question__content{
        background: #f5f7fa;
        margin-bottom: 20px;
        color: #616368;
        font-weight: 400;
        font-size: 16px;
        margin-left:50px;
        margin-right: 10%;
    }
}
.title-eleven{
    max-width: 635px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0 70px 0;
    p{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 600;
        color: #242f51;
    }
    span{
        font-size: 16px;
        font-weight: 400;
        color:#6a6c71;
    }
}

.wrapper-eleven{
    width: 950px;
    background: #f5f7fa;
    margin:12px auto 0;
    padding:50px 95px 82px 50px;
}
.container-question{
    width: 60%;
    margin-bottom: 12px;
    background: #f5f7fa;
    position: relative;
    p{
        font-size: 20px;
        font-weight: 600;
        color: #242f51;
        margin-left: 50px;
    }
}

.lunge-window{
    p{
        font-size: 16px;
        font-weight: 400;
        color: #7c7e83;
    }
}
// --------wrapper-close-----
.wrapper-close{
    width: 950px;
    background: #f5f7fa;
    margin:12px auto 0;
    padding:10px 95px 10px 50px;
}
.container-question{
    .stick{
        position: absolute;
        right:5%;
        top:35%;
        width: 20px;
        height: 20px;
        opacity: 0.3;
        transition: 0.5s;
    }
    .stick:before, .stick:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #242f51;
    }
            .stick:hover {
                    opacity: 1;
                    }
            .stick:before {
                transform: rotate(180deg);
            }
            .stick:after {
                transform: rotate(90deg);
            }

}
// --------------section-twelve----------
.section-twelve{
    max-width: 1600px;  
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    padding:0;
    position: relative;    
}
.wrapper-twelve{
    max-width: 40%;
    padding-left: 15%;
    z-index: 2;
   
    p{
        font-size: 48px;
        font-weight: 600;
        color: #242f51;
        padding-top:85px;
    }
    span{
        font-weight: 400;
        font-size: 16px;
        color: #7c7e83;
    }
}
.play-google{
    width: 190px;
    height: 57px;
    background: #000;
    margin:0;
    border-radius:8px;
    border: none ;
    box-shadow: 0 0 10px #7c7e83;
    cursor: pointer;

    .button-wrapper{
        color:#fff;
        display:flex;
        align-items: center;

        .icon--play{
            font-size: 28px;
            padding: 0 8px 0 9px;
        }
        .text-button{
            p{
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                margin:0;
                padding:0;
                float:left;
            }
            span{
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 1.5px;
                color: #fff;
                margin:0;
                padding:0;
                float:left;
            }
        }
    }
}
.app--store{
    margin-left: 16px;
    .button-wrapper{
        .apple-app{
            font-size: 30px;
            padding: 0 10px 0 13px;
            margin:0;
        }
        .text-button{
            .letter-download{
                text-transform: none;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
}
.img-box{
    margin-top: 50px;
    margin-bottom: 100px;
    .app-store{
        margin-left: 16px;
    }
}
.wrapper-img{
    position: absolute;
    right:0;
    bottom:-66px;
}
.man-yellow{
    display: block;
    max-width: 100%;
    height: auto;
}
// -------------------section-thirteen------
.section-thirteen{
    background: #242f51;
    padding: 112px 0;
}
.container-thirteen{
    max-width: 470px;
    margin:0 auto;
    text-align: center;
    p{
        font-weight: 700;
        font-size: 30px;
        color: #fcae61;
        span{
            color: #fff;
        }
    }
}
.navigation-footer{
    display:flex;
    margin-top: 35px;
    a{
        text-decoration: none;
        color: #fff;
        transition:  0.3s;
        font-size: 16px;
    }
    a:hover{
        font-size: 17px;
    }
    
    li{
        list-style-type: none;
        padding-left: 35px;
    }
    li:first-child{
        padding-left: 0px;
    }
}
.icon--style{
    color: #354057;
    font-size: 24px;
    padding-left: 24px;
    transition:  0.3s;
    cursor: pointer;
    margin-top: 50px;
}
.icon--style:first-child{
    padding-left: 0px;
}
.icon--style:hover{
    color: #fff;
}
.copywrap{
    margin-top:80px;
    p{
        color: #354057;
        font-size: 14px;
        font-weight: 400;
    }
}
@media(max-width:1231px){
    .wrapper-img{
        opacity: 0.2;
    }

}
@media(max-width:990px){
    .title-eleven{
        padding: 100px 0 70px 0;
    }
    .container-question{
        p{
            font-size: 18px;
        }
    }
    // -----------section-twelve
    .wrapper-twelve{
        max-width: 85%;
        padding-left: 0%;
        z-index: 2;
        text-align: center;
        margin:0 auto;
       
        p{
            font-size: 40px;
        }
    }

}
@media(max-width:770px){
    .title-eleven{
        max-width: 450px;
        padding: 100px 0 70px 0;
        p{
            font-size: 30px;
        }
        span{
            font-size: 16px;
        }
    }
    .container-eleven{
        .container-question__p{
            margin-top: 30px;
            margin-left:30px;
        }
        .container-question__content{
            font-size: 14px;
            margin-left:30px;
        }
    }
    .container-question{
        p{
            font-size: 16px;
            margin-left: 30px;
            width: 80%;
        }
    }
    .horizontal-line{
        margin: 80px 0 0 0;
    }
    // --------------section-twelve----------
.wrapper-twelve{   
    p{
        font-size: 30px;
        padding-top:50px;
    }
    span{
        font-size: 16px;
    }
}
    .wrapper-img{
        display: none;
    }
}
@media(max-width:550px){
    // .container-eleven{
    .title-eleven{
        max-width: 80%;
    }
    .container-question{
        p{
            font-size: 14px;
            width: 70%;
        }
    }
    // --------------section-twelve----------
// .section-twelve{
//     max-width: 1600px;  
//     display:flex;
//     justify-content: space-between;
//     margin:0 auto;
//     padding:0;
//     position: relative;    
// }
.wrapper-twelve{
//     max-width: 40%;
//     padding-left: 15%;
//     z-index: 2;
   
    p{
        padding:60px 0 20px;
        margin: 0;
    }
}

.img-box{
    width: 190px;
    margin:50px auto 0;
    margin-bottom: 100px;
}

.play-google{
    display: inline;
    width: 100%;
//     width: 190px;
//     height: 57px;
//     background: #000;
//     margin:0;
//     border-radius:8px;
//     border: none ;
//     box-shadow: 0 0 10px #7c7e83;
//     cursor: pointer;

//     .button-wrapper{
//         color:#fff;
//         display:flex;
//         align-items: center;

//         .icon--play{
//             font-size: 28px;
//             padding: 0 8px 0 9px;
//         }
//         .text-button{
//             p{
//                 font-size: 14px;
//                 font-weight: 400;
//                 text-transform: uppercase;
//                 color: #fff;
//                 margin:0;
//                 padding:0;
//                 float:left;
//             }
//             span{
//                 font-size: 20px;
//                 font-weight: 400;
//                 letter-spacing: 1.5px;
//                 color: #fff;
//                 margin:0;
//                 padding:0;
//                 float:left;
//             }
//         }
//     }
}
.app--store{
    margin: 20px 0 0 0;
//     .button-wrapper{
//         .apple-app{
//             font-size: 30px;
//             padding: 0 10px 0 13px;
//             margin:0;
//         }
//         .text-button{
//             .letter-download{
//                 text-transform: none;
//                 font-size: 12px;
//                 letter-spacing: 1px;
//             }
//         }
//     }
}
    // -------------------section-thirteen------
.section-thirteen{
    padding: 40px 0;
}
.container-thirteen{
    max-width: 250px;
    p{
        font-size: 24px;
        margin-bottom:18px;
    }
}
.navigation-footer{
    width: 250px;
    margin:0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    a{
        font-size: 16px;
    }
    a:hover{
        font-size: 17px;
    }
    
    li{
        padding-left: 0px;
        padding-top: 10px;
    }
}
.icon--style{
    margin-top: 40px;
}
.copywrap{
    margin-top:50px;
    p{
        color: #354057;
        font-size: 14px;
        font-weight: 400;
    }
}

}